cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
coloredlogs==15.0.1
commonmark==0.9.1
cryptography==38.0.1
deprecation==2.1.0
humanfriendly==10.0
img2pdf==0.4.4
lxml==4.9.1
ocrmypdf==14.0.0
packaging==21.3
pdfminer.six==20220524
petl==1.7.11
pikepdf==6.0.2
Pillow==9.2.0
pluggy==1.0.0
psutil==5.9.2
pycparser==2.21
Pygments==2.13.0
pyparsing==3.0.9
python-magic==0.4.27
reportlab==3.6.11
rich==12.5.1
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
tqdm==4.64.1
typer==0.6.1
unoserver==1.2
